#chatroom-container {
    height: calc(100vh - 54px - 56px - 105px);
    flex-direction: column;
    overflow-y: scroll;
}

#message-form {
    position: relative;
}

#message-form .form-control {
    border-radius: 50px;
}

#message-form #message-submit {
    position: absolute;
    right: 4px;
    top: 4px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    padding: 0;
}

#chatroom {
    width: 100%;
}

#chatroom .badge {
    font-size: 1em !important;
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
}