a:hover {
    color: #000;
    text-decoration: none;
}

#top-nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000000;
    height: 56px !important;
}

#menu-nav {
    z-index: 10000000;
}